@charset "utf-8";

body {
	color: #2e2e2e;
	font-family: 'IBM Plex Sans', sans-serif;
	
	margin: 30px auto;
	padding: 0;
	width: 900px;
}

h1, h2 {
	font-family: 'IBM Plex Serif', serif;
}

em {
	font-family: 'IBM Plex Serif', serif;	
}

a {
	color: #2e2e2e;
	text-decoration: none;
}

li {
	padding: 5px 0;
}

.url, .code {
	border: #bbb solid 1px;
	border-radius: 3px;
	font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
	padding: 10px 15px;
}

.code {
	border: #bbb solid 1px;
	background: #eee;
}

span {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 14px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.institutions, .information {
	font-size: 12px;
}

b {
    border-radius: 3px;
    display: inline-block;    
    font-size: 12px;
    margin: 0 5px 0 0;
    min-width: 75px;
    padding: 10px 15px;
    text-align: center;
}

b.label-black {
    background: #2e2e2e;
    color: #fff;
}

b.label-purple {
    background: #804aa6;
    color: #fff;
}

b.label-green {
	background: #afd56d;
}

b.label-yellow {
	background: #e6cf38;
}

b.label-red {
	background: #d56d7b;
    color: #fff;
}

b.label-blue {
	background: #415b99;
	color: #fff;
}

b.label-gray {
	background: #eeeeee;
}

.copyright {
	border: #ddd solid 1px;
	border-radius: 3px;
	margin: 50px 0 50px;
	padding: 10px 15px;
}

.copyright > p {
	font-size: 10px;
}
